@use "../global" as *;

/*
* 汎用クラス
*/

.u-mb{
    margin-bottom: 30px;
}
.u-mb-xsmall{
    margin-bottom: 10px;
}
.u-mb-small{
    margin-bottom: 20px;
}
.u-mb-large{
    margin-bottom: 40px;
}
.u-mb--xlarge{
    margin-bottom: 50px;
}

.u-mt{
    margin-top: 30px;
}
.u-mt-xxsmall{
    margin-top: 5px;
}
.u-mt-xsmall{
    margin-top: 10px;
}
.u-mt-small{
    margin-top: 20px;
}
.u-mt-large{
    margin-top: 40px;
}
.u-mt--xlarge{
    margin-top: 50px;
}

.u-txt-c{
    text-align: center;
}
.u-txt-l{
    text-align: left;
}
.u-txt-r{
    text-align: right;
}

.u-err__title{
    padding: 1.2rem;
    background-color: rgb(255 235 235);
    color: #ff0000;
}
.u-err__txt{
    color: red;
}

.u-tbl-cell-none{
    //スマートフォン非表示
    &-sp{
        display: none;
        @include pc{
            display: table-cell;
        }
    }
}