@use "../global" as *;

.modal{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:none;
	z-index:9999;
    &__bg{
        width: 100%;
        height: 100%;
        background:rgba(0,16,46,.8);
        position:absolute;
        top:0;
        left:0;
    }
    &__content{
        width:90%;
        background:#FFF;
        position:absolute;
        top:20px;
        left:50%;
        transform:translate(-50%,0);
        @include pc{
            top:50px;
            max-width: 1200px;
        }
        &--inner{
            position:relative;
            padding: 70px 40px 40px 40px;
			min-height: inherit;
        }
    }
    &__cross-mark--position{
        position:absolute;
        top:30px;
        right:30px;
    }
}

