@use "../global" as *;

//submitボタン（HTML要素input type=button)
button[type=submit].c-btn__submit{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    min-width: 150px;
    height: 45px;
    font-size: 1.4rem;
    border-radius: 3px;
    cursor: pointer;
}
//ボタン
.c-btn__normal{
    display: inline-block;
    padding: 1rem 1rem .6rem;
    text-align: center;
    background-color: $plt-gray02;
    color: $plt-gray08;
    white-space: nowrap;
    @include tab{
        padding: 1rem 2.5rem .6rem;
    }
}
//角丸
.c-btn__round-corner--3{
    border-radius: 3px!important;
}
.c-btn__round-corner--5{
    border-radius: 5px!important;
}
//ボタンカラーバリエーション

.c-btn__color--default{
    background-color: $color-accent-main;
    color: #FFF;
    &:hover{
        opacity: .85;
    }
}
.c-btn__color--gray{
    background-color: $plt-gray03;
    color:  $plt-gray07;
    &:hover{
        background-color: $plt-gray02;
    }
}
.c-btn__color--green{
    background-color: #057b36;
    color: #fff;
    &:hover{
        opacity: .85;
    }
}
.c-btn__color--red{
    background-color: #df0833;
    color: #fff;
    &:hover{
        opacity: .85;
    }
}
.c-btn__color--blue{
    background-color: #0067b8;
    color: #fff;
    &:hover{
        opacity: .85;
    }
}
.c-btn__color--dark-blue{
    background-color: #185b7d;
    color: #fff;
    &:hover{
        opacity: .85;
    }
}
.c-btn__color--laravel{
    background-color: #ff2d20;
    color: #FFF;
    &:hover{
        opacity: .85;
    }
}

//削除ボタン
.c-btn__delete{
    cursor: pointer;
    color: $plt-gray04;
    i{
        font-size:1.8rem;
        margin-right: 7px;
    }
}

/*
*  ハンバーガーメニュー
<div class="c-hamburger">
    <button type="button" class="c-hamburger__body">
        <span class="c-hamburger__line"></span>
    </button>
</div>
-----------------------------------------*/
.c-hamburger{
	width: 44px;
	height: 40px;
	// position: absolute;
	// top: 50%;
	// right: 0;
	// @include z-index(hamburger);
	// transform: translate(0, -50%);
	@include pc{
		display: none;
	}
    &__body{
        width: 100%;
        height: 100%;
        border-radius: 2px;
        border: none;
        background: none;
        cursor: pointer;
    }
    &__line{
        /*中心のバーガー線*/
        display: block;
        width: 70%;
        height: 1px;
        background-color: #666;
        margin: 0 auto;
        position: relative;
        transition: all .4s;/*アニメーションの設定*/
        border-radius: 5px;
        &::before,
        &::after
        {
            content: "";
            width: 100%;
            height: 100%;
            background-color: #666;
            position: absolute;
            transition: all .4s;/*アニメーションの設定*/
            border-radius: 5px;
        }
        &::before{
            /* 上の線の位置 */
            transform: translateX(-50%) translateY(-8px);
        }
        &::after{
            /* 下の線の位置 */
            transform: translateX(-50%) translateY(8px);
        }
    }
}
/*ハンバーガーメニュークリック時*/
.js-hamburger__active .c-hamburger__line {
	background-color: transparent;
}
.js-hamburger__active .c-hamburger__line::before {
	transform: translateX(-50%) rotate(45deg);
}
.js-hamburger__active .c-hamburger__line::after {
	transform: translateX(-50%) rotate(-45deg);
}

/*
*  閉ボタン（×）
<div class="c-cross-mark">
    <span class="c-cross-mark__body"></span>
</div>
-----------------------------------------*/
.c-cross-mark{
    width: 30px;//ボタンの幅
    height: 30px;//ボタンの高さ
    &__body{
        display: block;
        position: relative;
        width: 100%;
        height: inherit;
        cursor: pointer;
    }
    &__body::before, &__body::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;// 線の幅（太さ）
        height: 20px;// 線の高さ
        background: #666;//　線の色
    }
    &__body::before{
        transform: translate(-50%,-50%) rotate(45deg);
    }
    &__body::after{
        transform: translate(-50%,-50%) rotate(-45deg);
    }
}
/*
*  展開十字ボタン（+）
*　アコーディオンメニュー用のクロスアイコン
*  jQueryにてクリック時に.openを付加する仕様。
-----------------------------------------*/
.c-accordion{
    position: relative;
    &__cross-line{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translatey(-50%);
        width: 30px;
        height: 30px;
        /*background: #fad2d2;*/
        &__body{
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            &::before,
            &::after
            {
                /* プラスアイコン */
                /* ２本の線を中央に並行に重ねる */
                position: absolute;
                content: "";
                display: block;
                transition: all 0.4s;
                background: #ff7e7e;
                left: 50%;
                top: 50%;
                width: 35%;/*線の長さ*/
                height: 2px;
                transform: translate(-50%, -50%);
            }
            &::before{
                /* そのうち1本を縦にする */
                transform: translate(-50%, -50%) rotate(90deg);
            }
            &.js-accordion__open::before{
                /* プラスアイコンクリック後、マイナスにする */
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }
    }
}