@use "../global" as *;

//エラーメッセージ
.c-error-message{
    margin-top: 25px;
    &__ttl{
        color: #e81123;
    }
    ul{
        margin-top: 1rem;
        li{
            color: #e81123;
            &:not(:last-child){
                padding-bottom: 3px;
            }
        }
    }
}

//各ページのコンテンツを入れるパネルデザイン
.c-content-panel{
    padding: 1rem;
    border: 1px solid #ececec;
    background: #FFF;
    border-radius: 5px;
    margin-bottom: 1rem;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
