@use "../global" as *;

//エラーメッセージ
.c-error-message{
    margin-top: 25px;
    &__ttl{
        color: #e81123;
    }
    ul{
        margin-top: 1rem;
        li{
            color: #e81123;
            &:not(:last-child){
                padding-bottom: 3px;
            }
        }
    }
}

//各ページのコンテンツを入れるパネルデザイン
.c-content-panel{
    padding: 1rem;
    border: 1px solid #ececec;
    background: #FFF;
    border-radius: 5px;
    margin-bottom: 1rem;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

//フォームのレイアウト
.c-hissu{
    display: inline-block;
    padding: 0.3rem 0.7rem 0.08rem;
    font-size: 1.2rem;
    //border: 1px solid #d6d4d4;
    color: #ff8791;
    margin-left: 5px;
}
.c-form-layout--01{
    dt{
        font-weight: 600;
        margin-bottom: 5px;
        color: $plt-gray04;
    }
    dd{
        margin-bottom: 20px;
    }
}

//icon系
.c-icon{
    &__check{
        margin-right: 7px;
        font-size: 1.6rem;
        @include pc{
            font-size: 2rem;
        }
    }
    &--green{
        color: #9cc40c;
    }
    &--red{
        color: #df0833;
    }
}
//処理結果コメント表示用（フラッシュデータ)
.c-result__text{
    &--reg{
        color: #9cc40c;
    }
    &--pull{
        color: #09b4d0;
    }
    &--del{
        color: #df0833;
    }
}
