//色に関する変数群

/*
*カラーパレット
*plt は paletteの略
*/
$plt-white: #fff;
$plt-gray00: #fefefe;
$plt-gray01: #f7f7f7;
$plt-gray02: #e8e8e8;
$plt-gray03: #c9c9c9;
$plt-gray04: #b7b7b7;
$plt-gray05: #a1a1a1;
$plt-gray06: #898989;
$plt-gray07: #727272;
$plt-gray08: #595757;
$plt-gray09: #383635;


//カラーエリア
$color-globalBody-bg: $plt-gray00;
$color-globalHeader-bg: $plt-gray01;
$color-globalFooter-bg: $plt-gray01;
$color-globalBody-txt: $plt-gray08;
